body{
 background-color: rgb(187, 206, 212);
}
.flex-container{
    display: flex;
    justify-content: center;
    
}
/* CONTAINER QUE LLEVA LA IMAGEN*/
.container{
    border : 15px solid rgb(255, 255, 255);
    background-color: rgb(254, 255, 255);
    height: 420px;
    width: 290px;
    border-radius: 20px;
    text-align: center;
}
/* CONTAINER CON LA IMAGEN*/
.container img {
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 65% ;
 border-radius: 15px;
 display: flex;
}
/*CONTAINER CON H3 Y P*/
.container-text{
font-size: 10px;
text-align
}
.attribution {
margin-top: 50px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
